<%= form_with(model: vendor_address, local: true) do |form| %>
  <% if vendor_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vendor_address.errors.count, "error") %> prohibited this vendor_address from being saved:</h2>

      <ul>
        <% vendor_address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vendor_id %>
    <%= form.text_field :vendor_id %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat %>
  </div>

  <div class="field">
    <%= form.label :lon %>
    <%= form.text_field :lon %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_area :address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_area :address2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :pincode %>
    <%= form.text_field :pincode %>
  </div>

  <div class="field">
    <%= form.label :google_address %>
    <%= form.text_area :google_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
