<p id="notice"><%= notice %></p>

<h1>Draft Orders</h1>

<table>
  <thead>
    <tr>
      <th>Shopify order</th>
      <th>Shopify order data</th>
      <th>Sme user</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @draft_orders.each do |draft_order| %>
      <tr>
        <td><%= draft_order.shopify_order_id %></td>
        <td><%= draft_order.shopify_order_data %></td>
        <td><%= draft_order.sme_user_id %></td>
        <td><%= draft_order.status %></td>
        <td><%= link_to 'Show', draft_order %></td>
        <td><%= link_to 'Edit', edit_draft_order_path(draft_order) %></td>
        <td><%= link_to 'Destroy', draft_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Draft Order', new_draft_order_path %>
