<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
  <%= @vendor_fulfillment.vendor_id %>
</p>

<p>
  <strong>Vendor order:</strong>
  <%= @vendor_fulfillment.vendor_order_id %>
</p>

<p>
  <strong>Shopify order:</strong>
  <%= @vendor_fulfillment.shopify_order_id %>
</p>

<p>
  <strong>Shopify variant:</strong>
  <%= @vendor_fulfillment.shopify_variant_id %>
</p>

<p>
  <strong>Shopify product:</strong>
  <%= @vendor_fulfillment.shopify_product_id %>
</p>

<p>
  <strong>Shopify line item:</strong>
  <%= @vendor_fulfillment.shopify_line_item_id %>
</p>

<p>
  <strong>Shopify fulfillment data:</strong>
  <%= @vendor_fulfillment.shopify_fulfillment_data %>
</p>

<p>
  <strong>Shopify fulfillment count:</strong>
  <%= @vendor_fulfillment.shopify_fulfillment_count %>
</p>

<p>
  <strong>Shopify fulfillment status:</strong>
  <%= @vendor_fulfillment.shopify_fulfillment_status %>
</p>

<p>
  <strong>Shopify variant price:</strong>
  <%= @vendor_fulfillment.shopify_variant_price %>
</p>

<%= link_to 'Edit', edit_vendor_fulfillment_path(@vendor_fulfillment) %> |
<%= link_to 'Back', vendor_fulfillments_path %>
