    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">SME</h6>
            </div>
<!--             <div class="col-lg-6 col-5 text-right">
              <%= link_to 'New', new_vendor_product_path(), class: 'btn btn-sm btn-neutral' %>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">SME</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Name</th>
                    <th scope="col" class="sort" data-sort="budget">Email</th>
                    <th scope="col" class="sort" data-sort="status">Discount Count</th>
                    <th scope="col">Total Commission</th>
                    <th scope="col">Active</th>
                    <th scope="col" class="sort" data-sort="completion">Action</th>
                  </tr>
                </thead>
                <tbody class="list">
                  <% @sme_users.each do |user|%>
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="name mb-0 text-sm"><%= user.name%></span>
                          </div>
                        </div>
                      </th>
                      <td class="budget">
                        <%= user.email %>
                      </td>
                      <td>
                        <%= user.discounts.size%>
                      </td>
                      <td>
                        <%= user.orders.sum(:sme_user_commission).round(2)%>
                      </td>
                      <td>
                        <%= user.active ? 'True' : 'False'%>
                      </td>
                      <td>
                        <%= link_to 'Edit SME', edit_sme_path(sme_user_id:user.id), class: 'btn btn-sm btn-neutral' %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>