    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Discount</h6>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <%= link_to('New', new_discount_path(), class: 'btn btn-sm btn-neutral') if current_sme_user.active %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Discount Codes</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Discount code</th>
                    <th scope="col" class="sort" data-sort="budget">Discount presents</th>
                    <th scope="col" class="sort" data-sort="status">Active</th>
                    <th scope="col" class="sort" data-sort="status">Default</th>
                    <th scope="col" class="sort" data-sort="completion">Date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                  <% @discounts.each do |discount|%>
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="name mb-0 text-sm"><%= discount.shopify_discount_code%></span>
                          </div>
                        </div>
                      </th>
                      <td class="budget">
                        <%= discount.shopify_discount_presents%>
                      </td>
                      <td>
                        <%= discount.active ? 'True' : 'False'%>
                      </td>
                      <td>
                        <%= discount.default ? 'True' : 'False'%>
                      </td>
                      <td>
                        <%= discount.created_at%>
                      </td>
                      <td>
                        <%= link_to 'Edit', edit_discount_path(discount), class: 'btn btn-sm btn-neutral'%>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>