    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Products</h6>
            </div>
            <div class="col-lg-6 col-5 text-right">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Products</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Product Title</th>
                    <th scope="col" class="sort" data-sort="budget">Image</th>
                    <th scope="col" class="sort" data-sort="status">Price</th>
                    <th scope="col">Variant Size</th>
                    <th scope="col" class="sort" data-sort="completion">Action</th>
                    <th scope="col" class="sort" data-sort="completion">Share</th>
                  </tr>
                </thead>
                <tbody class="list">
                  <% @products.each do |product|%>
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="name mb-0 text-sm"><%= product.title%></span>
                          </div>
                        </div>
                      </th>
                      <td class="budget">
                        <%=image_tag product.image.src, width: '25px', height: '25px'%>
                      </td>
                      <td>
                        <%= product.variants.first.price%>
                      </td>
                      <td>
                        <%= product.variants.size%>
                      </td>
                      <td>
                        <a href="<%= product_url(product)%>" class="btn btn-sm btn-neutral" target="_blank">Open URL</a>
                        <span class="product_url" style="display: none;"><%= product_url(product)%></span>
                        <span class="btn btn-sm btn-neutral copy_link">Copy URL</span>
                      </td>
                      <td>
                        <%= social_share_button_tag(product.title, url: product_url(product)) %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".copy_link").click(function(){
      copyToClipboard($(this).parent().find('.product_url'));
    });
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }
  })
</script>